#float_icon{
    width:60px;
    height:60px;
    background-color:#FF8D3D;
    position:fixed;
    right:50px;
    bottom:50px;
    border-radius:50%;
    text-align:center;
    line-height:60px;
    font-size:40px;
    color:#fff;
    cursor:pointer;
    box-shadow: 2px 2px 5px #888;
    z-index:9999999!important;
}